.filters {
  padding: 15px 0;

  text-align: center;
}

.filters__item {
  padding: 0 16px;

  font-size: 18px;
  line-height: 30px;
  text-decoration: underline;

  cursor: pointer;
}

.filters__radio {
  position: absolute;
  right: -100px;
  left: -100px;
}

.filters__radio:checked + .filters__item {
  color: black;
  text-decoration: none;

  background-color: white;
  border-radius: 2px;
}

.filter-image-preview {
  vertical-align: middle;
}
