.footer {
  position: absolute;
  right: 10px;
  bottom: 0;
  left: 10px;

  box-sizing: border-box;
  height: 115px;
  padding: 20px 0 40px;

  font-size: 12px;
  font-family: 'Roboto', Arial, sans-serif;
  color: white;

  border-top: solid 1px #cccccc;
}

.footer__wrapper {
  display: flex;
  width: 100%;
}

.footer__logo-link,
.social__item {
  color: white;
}

.footer__logo,
.footer__social {
  flex-basis: 50%;
  width: 50%;
}

.footer__logo {
  position: relative;

  padding-top: 55px;
}

.footer__logo-link {
  &:hover,
  &:focus {
    outline: 0;
    opacity: 0.6;
  }
}

.footer__logo-image {
  position: absolute;
  top: 0;
  left: 0;
}

.footer__social {
  text-align: right;
}
