.gallery-overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  overflow: auto;

  text-align: center;

  background-color: color-mod(black alpha(80%));
}

.gallery-overlay__close {
  position: absolute;
  top: -5px;
  right: 0;

  padding: 0 10px;

  font-size: 45px;
  text-align: center;
  color: white;
  background-color: transparent;
  border-color: transparent;

  cursor: pointer;
}

.gallery-overlay__preview {
  position: relative;
  display: inline-block;
  margin: 30px 0;
  vertical-align: middle;

  background-color: white;
}

.gallery-overlay__image {
  display: block;
  width: 640px;
  height: 640px;

  border: dotted 1px var(--border-grey-color);;
  cursor: pointer;
}

.gallery-overlay__controls {
  font-weight: bold;
  font-size: 14px;
  color: black;
}

.gallery-overlay__controls-comments,
.gallery-overlay__controls-like {
  padding: 0 20px;

  line-height: 40px;
}

.gallery-overlay__controls-comments {
  margin-right: 150px;

  text-align: left;
}

.gallery-overlay__controls-like {
  float: right;
  width: 150px;

  text-align: right;
}

.gallery-overlay__control {
  position: absolute;
  width: 40%;
  height: calc(100% - 40px);
  overflow: hidden;
  background-color: transparent;
  background-image: url("../assets/img/arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 300px;
  background-position-y: center;
  background-size: 50px 50px;
  border-color: transparent;
  cursor: pointer;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-position-x: 180px;
    outline: 0;
    transition: all 0.3s;
  }

  &--next {
    right: 0;
  }

  &--prev {
    left: 0;
    transform: rotate(180deg);
  }

}


.gallery-overlay__likes-count {
  cursor: pointer;

  &::before {
    content: "";

    display: inline-block;
    width: 18px;
    height: 15px;
    margin-right: 5px;

    vertical-align: middle;

    background-image: url("../assets/img/icon-heart-sprite.gif");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
  }
}

.gallery-overlay__likes-count-liked::before {
  background-position-x: -18px;
}
