.upload {
  position: absolute;
  left: 50%;

  width: 582px;
  height: 569px;
  margin: 5px 0 0 -291px;
  margin-top: 5px;
  padding: 0;

  background-image: url("../assets/img/logo-background-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
}

.upload-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;

  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 60px 0;
  overflow: auto;

  background-color: color-mod(black alpha(80%));
  border: none;
}

.upload-image {
  position: relative;
  z-index: 1;

  background-image: url("../assets/img/logo-mask.png");
  background-repeat: no-repeat;
  background-position: center;
}

.upload-input {
  visibility: hidden;
}

.upload-control {
  position: absolute;
  top: 193px;
  left: 202px;

  box-sizing: border-box;
  width: 182px;
  height: 182px;
  margin: 0;
  padding: 0;

  background-image: url("../assets/img/icon-photo.png");
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.upload-image .upload-submit {
  background-image: url("../assets/img/upload-button.png");
  display: none;
}

.upload-file {
  display: block;
}

.upload-input-hasvalue + .upload-file {
  display: none;
}

.upload-input-hasvalue + .upload-file + .upload-submit {
  display: block;
}

/* Сообщение об ошибке */
.upload-message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;

  box-sizing: border-box;
  padding: 20px;

  font-weight: 500;
  font-size: 20px;
  line-height: 569px;
  text-align: center;
  color: var(--color-yellow);

  background-color: #3c3614;
}

.upload-message a {
  color: var(--color-yellow);
}

.upload-message-error {
  color: #e16567;

  border: solid 5px rgb(130, 30, 0);
}

.upload-message-error a {
  color: #e16567;
}

.upload-message-container {
  display: inline-block;

  line-height: 1.2;
  vertical-align: middle;
}
