.pictures {
  padding-bottom: 120px;
  padding-left: 12px;

  font-size: 12px;
  text-align: left;
}

.pictures--loading::after,
.pictures--failure::after {
  position: absolute;
  top: 260px;
  left: 50%;
  z-index: 2;

  box-sizing: border-box;
  width: 200px;
  margin-left: -100px;
  padding: 20px;

  font-size: 30px;
  text-align: center;
  color: white;

  background-color: color-mod(black alpha(70%));
  border-radius: 10px;
}

.pictures--loading::after {
  content: "Загрузка...";
}

.pictures--failure::after {
  content: "Ошибка загрузки";
}
