html,
body {
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;

  background-color: var(--bg-color-black);
}

html.inline-element {
  background-color: color-mod(black alpha(60%));
}

body {
  position: relative;

  min-width: 980px;
  min-height: 900px;
  font-size: 14px;

  font-family: var(--set-open-sans-font-family);
  color: var(--color-yellow);
}

.invisible {
  display: none;
}

.hidden {
  visibility: hidden;
}
