.social__item {
  display: inline-block;
  width: 28px;
  height: 28px;
  margin-left: 10px;
  overflow: hidden;

  list-style: none;
  font-size: 0;
  vertical-align: top;
  text-indent: -1999em;

  background-image: url("../assets/img/social-sprite.png");
  background-repeat: no-repeat;
  opacity: 0.6;

  &:hover,
  &:focus {
    outline: 0;
    opacity: 1;
  }

  &--vk {
    background-position: -84px 0;
  }

  &--facebook {
    background-position: -56px 0;
  }

  &--instagram {
    background-position: -28px 0;
  }
}
