/* Описание */
.upload-form {
  width: 582px;
  height: 569px;
}

.upload-form__description {
  display: block;
  width: 470px;
  height: 4em;
  margin: 0 auto 30px;
  padding: 20px 10px;
  font-size: 14px;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: #9a9a9a;

  border-radius: 5px;

  &:focus {
    color: black;
  }
}

/* Кнопка отправки */
.upload-form__submit {
  margin-bottom: 30px;
  padding: 0 20px;
  font-weight: 900;
  font-size: 14px;
  line-height: 46px;

  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  text-align: center;
  color: var(--color-yellow);
  text-transform: uppercase;
  letter-spacing: 0.5px;

  background-color: rgba(255, 231, 82, 0.2);
  border: 0;
  border-radius: 4px;

  &:active {
    transform: translateY(1px);
  }

  &:disabled {
    opacity: 0.3;
  }

  &--disabled {
    opacity: 0.3;
  }
}

.upload-form__controls {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 0;

  margin: 0;
  padding: 10px;

  border: 0;
}

.upload-form__cancel {
  position: absolute;
  top: 0;
  left: 100%;

  display: block;
  width: 42px;
  height: 42px;
  margin-left: 10px;
  padding: 0;

  background-color: color-mod(white alpha(20%));
  background-image: url("../assets/img/icon-cross.png");
  background-repeat: no-repeat;
  background-position: center;
  border: 0;
  border-radius: 2px;

  &:active {
    transform: translateY(1px);
  }
}
