.upload-filter {
  position: relative;
  margin-right: auto;

  margin-left: auto;
  text-align: center;
}

/* Фильтры */
.upload-filter__controls {
  width: 470px;
  margin: 10px auto 30px;
  padding: 0;

  font-size: 12px;
  line-height: 42px;
  text-align: center;
  color: white;
  white-space: nowrap;

  border: 0;
}

.upload-filter__control {
  position: absolute;

  visibility: hidden;
}

.upload-filter__label {
  display: inline-block;
  margin: 0 5px;
  font-weight: 700;
  font-size: 14px;

  font-family: "Open Sans Condensed", Arial, Helvetica, sans-serif;
  vertical-align: middle;
  color: white;
  text-transform: uppercase;

  cursor: pointer;
}

.upload-filter__label:hover,
.upload-filter__control:checked + .upload-filter__label {
  color: var(--color-yellow);
}

.upload-filter__control:checked + .upload-filter__label .upload-filter__preview {
  border-color: var(--color-yellow);
}

/* Превью */
.upload-filter__preview {
  display: block;
  width: 70px;
  height: 70px;
  margin-bottom: 5px;
  overflow: hidden;
  background-image: url("../assets/img/upload-default-image.png");
  background-repeat: no-repeat;

  background-position: center;
  background-position: center;
  background-size: 100% auto;
  border: solid 4px transparent;
  border-radius: 5px;
}

/* Слайдер. Регулировка глубины фильтра */
.upload-filter__level {
  position: absolute;
  bottom: 0;
  left: 50%;

  display: none;
  box-sizing: border-box;
  width: 495px;
  height: 33px;

  background-color: color-mod(black alpha(60%));
  border-radius: 33px;
  transform: translateX(-50%);
}

.upload-filter__level-line {
  position: absolute;
  top: 50%;
  right: 20px;
  left: 20px;

  height: 5px;

  background-color: rgba(255, 231, 81, 0.4);
  transform: translateY(-50%);
}

.upload-filter__level-pin {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 18px;
  height: 18px;
  margin: -9px 0 0;

  background-color: var(--color-yellow);
  border-radius: 50%;
  transform: translateX(-50%);
  cursor: move;
}

.upload-filter__level-val {
  position: absolute;
  width: 50%;

  height: 100%;

  background-color: var(--color-yellow);
}

.upload-filter__label--chrome .upload-filter__preview,
.filter-chrome {
  filter: grayscale(1);
}

.upload-filter__label--sepia .upload-filter__preview,
.filter-sepia {
  filter: sepia(1);
}

.upload-filter__label--marvin .upload-filter__preview,
.filter-marvin {
  filter: invert(100%);
}

.upload-filter__label--phobos .upload-filter__preview,
.filter-phobos {
  filter: contrast(2) saturate(5) hue-rotate(-180deg);
}

.upload-filter__label--heat .upload-filter__preview,
.filter-heat {
  filter: contrast(1.1) brightness(1.3) saturate(2.4) sepia(0.4);
}
