:root {
  --color-yellow: #ffe753;
  --bg-color-black: #232321;
  --border-grey-color: #dddddd;
  --color-red-error: #e16567;
  --set-open-sans-font-family: "Open Sans", Arial, sans-serif;
  --set-open-condensed-font-family: "Open Sans Condensed", Arial, sans-serif;
}
